

#chartdiv {
    margin: auto;
    width: 85%;
    height: 30rem;
    max-height: 40rem;
    box-shadow: var(--primary-shadow);
    padding: 2rem;

}

.graph-item {
    margin: 3rem 0;
    box-shadow: var(--primary-shadow);
}

@media only screen and (max-width: 600px) {
    #chartdiv {
        width:100%;
        height:98vh;
    }

}