/* css related to the page board*/

@import url("global.css");

.board-options {
  margin-bottom: 1rem;
}

.filters {
  list-style: none;
  margin-bottom: 0;
}

#main-nav {
  background-color: var(--container-item-color);
}

.task {
  background-color: var(--container-item-color);
  width: 400px;
  min-width: 400px;
  border-radius: 5px;
  margin-right: 1rem;
  border: 1px solid var(--border-color);
}

.task-list-title {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.5rem;
  background-color: var(--background-hover);
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.task-items {
  padding: 10px;
  width: 100%;
  height: calc(100% - 52px);
  list-style: none;
  overflow-y: auto;
}

.task-item,
.add-item-li {
  background: white;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  transition: 0.3s;
}

.task-item:hover {
  background: var(--background-hover);
}

.board-members li {
  background-color: #6c757d;
  color: white;
  border-radius: 5px;
  height: 28px;
  width: 28px;
}

.task-title .fa-plus {
  background-color: white;
  padding: 0.5em;
  vertical-align: middle;
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

.kanban-container {
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  flex: 1;
}

.kanban-table {
  margin: 0;
  padding: 0;
  height: 100%;
}

.edit-task {
  display: none;
  background-color: white;
}

.list-item-counter,
.list-item-creator,
.list-item-label {
  font-size: 0.9em;
}

.list-item-author {
  width: 25px;
  height: 25px;
}

#side-issue-container {
  position: fixed;
  top: 64px;
  width: 30rem;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease;
  background: violet;
  z-index: -200;
  overflow: hidden;
}

.is-collapsed-right .main-container {
  padding-right: 30rem;
  background: none;
}

.is-collapsed-right #side-issue-container {
  z-index: 200;
}

.close-side-issue:hover {
  background-color: white;
}
