/* css related to the page board*/

@import url("global.css");

.board-options {
  margin-bottom: 1rem;
}

.filters {
  list-style: none;
  margin-bottom: 0;
}

#main-nav {
  background-color: var(--container-item-color);
}

.task {
  background-color: var(--container-item-color);
  width: 400px;
  min-width: 400px;
  border-radius: 5px;
  margin-right: 1rem;
  border: 1px solid var(--border-color);
}

.task-title {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.5rem;
  background-color: var(--background-hover);
}

.task-items {
  padding: 10px;
  overflow: auto;
  width: 100%;
  min-height: 12rem;
  list-style: none;
}

.task-item,
.add-item-li {
  background: white;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  transition: 0.3s;
}

.task-item:hover {
  background: var(--background-hover);
}

.board-members li {
  background-color: #6c757d;
  color: white;
  border-radius: 5px;
  height: 28px;
  width: 28px;
}

.task-title .fa-plus {
  background-color: white;
  padding: 0.5em;
  vertical-align: middle;
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

.kanban-container {
  overflow-x: auto;
  height: 90%;
}

.edit-task {
  display: none;
  background-color: white;
}

.list-item-counter,
.list-item-creator,
.list-item-label {
  font-size: 0.9em;
}

.list-item-author {
  width: 25px;
  height: 25px;
}
