@import url("global.css");



/*left content*/

.event-manager {
  background: #162b29
  ;
  overflow: hidden;
  height: calc(100vh - 80px);

}

.calendar-left-side-day {
  font-size: 5rem;
}

.calendar-left-side-day-of-week {
  font-size: 1.25rem;
}

.current-day-events-list > li {
  padding-left: 0.5rem;
}



/*right content*/

.calendar-content {
  background-color: #fbda57

 ;
}

.calendar-change-year {
  font-size:1.25rem;
}

.calendar-month {
  border-bottom: 1px solid #ffe8e2

  font-weight: 700;
}

.calendar-month > li {
  padding: 0.25rem;
  cursor:pointer;
}

.calendar-month > li:hover {
  background-color: #f6e7ce

}

.calendar-month > li.active {
  background-color: #162b29


 
}

.calendar-week-list {
  font-weight: 700;
}

.calendar-week-list > th  {
  margin-bottom: 1rem;
}

.active-day {
  box-shadow: var(--primary-shadow);
  border-radius: 0.5rem;
  background-color: var(--seconday-color)
}

.selected-day {
  background-color: rgba(99, 189, 189, 0.53);
  box-shadow: var(--primary-shadow);
  border-radius: 0.5rem;
}

.calendar-days-list > tr > td:hover {
  background-color: #421930

}

.another-month {
  opacity: 0.2;
}



