@import url('global.css');

/*left content*/

.event-manager {
  background-color: var(--secondary-color);
  overflow: hidden;
}

.calendar-left-side-day {
  font-size: 5rem;
}

.calendar-left-side-day-of-week {
  font-size: 1.25rem;
}

.current-day-events-list > li {
  padding-left: 0.5rem;
}

/*right content*/
.calendar-change-year {
  font-size: 1.25rem;
}

.calendar-month {
  border-bottom: 1px solid #ffe8e2;
  font-weight: 700;
}

.calendar-month > li {
  padding: 0.25rem;
  cursor: pointer;
}

.calendar-month > li:hover {
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.calendar-month > li.active {
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.calendar-week-list {
  font-weight: 700;
}

.calendar-week-list > th {
  margin-bottom: 1rem;
}

.active-day {
  border-radius: 0.5rem;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.calendar-days-list > tr > td:hover {
  border-radius: 0.5rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.another-month {
  opacity: 0.5;
}

[data-toggle='buttons'] > .btn > input[type='radio'] {
  display: none;
}

.calendar-content {
  border-radius: 0 5px 5px 0;
  border: 1px solid var(--secondary-color);
}
