@import url('global.css');

.assignees li {
  width: 20px;
  height: 20px;
}

.issue {
  transition: all 0.3s ease;
  padding: 0.75rem 1.25rem;
}

.issue:hover {
  background-color: var(--background-hover);
}

#side-issue-container {
  position: fixed;
  top: 64px;
  width: 20rem;
  bottom: 0;
  right: -20rem;
  transition: all 0.3s ease;
  background-color: var(--container-item-color);
  border-left: 1px solid var(--border-color);
  z-index: 200;
  overflow: hidden;
}

.is-collapsed-right #side-issue-container,
.add-label,
.add-assignee {
  right: 0;
}
.is-collapsed-right .main-container {
  padding-right: 20rem;
  background: none;
}

#side-issue-container .assignees li,
#side-issue-container .add-label,
#side-issue-container .add-assignee {
  width: 40px;
}

.edit-task,
.close-side-issue {
  width: 38px;
  height: 38px;
}

#dropdownFiltersButton::after {
  content: none;
}

.task-title {
  font-weight: 600;
}

.list-item-label {
  font-size: 0.9rem;
  border-radius: 5px;
}

.issue-status, .issue-header .due-date-container {
  font-size: 0.9rem;
}

.issue-header .due-date-container {
  color: var(--secondary-color);  
}

#issue-list p {
  margin-bottom: 0;
}

.closed-issues-filter .issue.open {
  display: none;
}
.closed-issues-filter .issue.closed {
  display: block;
}

.open-issues-filter .issue.closed {
  display: none;
}

.open-issues-filter .issue.open {
  display: block;
}

@media only screen and (max-width: 600px) {
  .comments-number-container, .due-date-container, .issue-status-description{
    display: none;
  }

} 