@import url("global.css");

#main-nav,
#preview {
  background-color: var(--accent-color);
  border-radius: 0;
}

#main-nav a {
  color: var(--primary-color);
  font-family: Oxanium;
  text-transform: uppercase;
}

#main-title {
  color: var(--primary-color);
  font-family: Oxanium;
  text-transform: uppercase;
}

#description h1 {
  color: white;
}

#description button {
  background-color: var(--primary-color);
  color: white;
}

#description button:hover {
  background-color: #edf5e1;
  color: var(--primary-color);
}

footer {
  background-color: var(--primary-color);
  color: white;
}

footer a,
footer a:hover {
  text-decoration: none;
  color: white;
}
