#main-nav,
#preview {
  background-color: var(--accent-color);
  border-radius: 0;
}

#main-nav a {
  color: var(--primary-color);
  font-family: Oxanium;
  text-transform: uppercase;
}

#main-page-body {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(237, 245, 225, 1) 79%,
    rgba(92, 219, 149, 1) 88%
  );
}

#main-title {
  color: var(--primary-color);
  font-family: Oxanium;
  text-transform: uppercase;
}

#description h1 {
  color: white;
}

#description button {
  background-color: var(--primary-color);
  color: white;
}

#description button:hover {
  background-color: #edf5e1;
  color: var(--primary-color);
}

.container:nth-last-child(2) {
  margin-bottom: 20rem;
}

footer {
  color: white;
  padding-bottom: 5rem;
}
