@import url("global.css");

.top-navbar {
  width: calc(100%);
  height: 4rem;
  display: flex;
  position: fixed;
  padding-left: 4rem;
  background-color: var(--container-item-color);
  top: 0;
}

.hamburger {
  height: 100%;
  background: var(--primary-color);
  padding: 1rem;
  cursor: pointer;
}

.hamburger-symbol {
  width: 2rem;
  height: 4px;
  background: var(--secondary-color);
  margin: 5px 0;
  border-radius: 5px;
  transition: all 200ms ease-out;
}

.is-collapsed .hamburger-symbol:first-child,
.is-collapsed .hamburger-symbol:nth-child(3) {
  transform: translateX(5px);
}

.logo {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.top-menu {
  width: 100%;
  height: 100%;
  background: #e9ecef;
  padding: 0 20px;
  box-shadow: 0 1px 1px var(--primary-shadow);
}

.utility>a {
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
  color: var(--primary-color);
}

.utility>a:hover {
  background: var(--primary-color);
  color: #fff;
}

.utility a:hover i {
  color: #fff;
}

.notification {
  position: relative;
}

.notification>.num {
  position: absolute;
  top: 0rem;
  left: 5rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ff2c72;
  color: #fff;
  text-align: center;
  line-height: 1rem;
  font-size: 0.8rem;
}

.notification-dropdown {
  width: 22rem;
  height: auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: var(--primary-shadow);
  position: absolute;
  left: -66.6%;
  top: 150%;
  display: none;
}

.notify_item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--primary-color);
}

.notify_item:last-child {
  border-bottom: 10px;
}

.notify_item .notify_img {
  margin-right: 15px;
}

.notify_item .notify_info p {
  margin-bottom: 5px;
}

.notify_item .notify_info p span {
  color: var(--primary-color);
  font-weight: 500;
  margin-left: 5px;
}

.notify_time {
  color: var(--secondary-color);
  font-size: 12px;
}

.notification-title {
  text-transform: capitalize;
  background-color: var(--primary-color);
  padding: 1rem;
  color: #e9ecef;
  letter-spacing: 0.2rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

}

.notification-dropdown:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid;
  border-color: transparent transparent var(--primary-color) transparent;
}

.notification-dropdown.display-block {
  display: block;
}

.sidebar-menu {
  position: fixed;
  top: 0rem;
  background: var(--primary-color);
  width: 5rem;
  height: 100%;
  transition: all 0.3s ease;
  color: var(--secondary-color);
}

.side-menu-item>a {
  position: relative;
  margin-bottom: 1px;
  color: var(--secondary-color);
  white-space: nowrap;
  display: block;
  padding: 20px;
}

.side-menu-item>a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: var(--secondary-color);
  display: none;
}

.side-menu-item>a:hover,
.side-menu-item>a.active {
  background: var(--primary-gradient);
  color: #fff;
  text-decoration: none;
}

.side-menu-item>a:hover:before,
.side-menu-item>a.active:before {
  display: block;
}

.main-container {
  width: (100% - 4rem);
  margin-left: 12rem;
  padding: 15px;
  padding-top: 4rem;
  transition: all 0.3s ease;
}

.main-container .item {
  background: whitesmoke;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.is-collapsed .sidebar-menu {
  width: 68px;
}

.is-collapsed .side-menu-item {
  text-align: center;
}

.is-collapsed .side-menu-item .icon {
  margin: 0;
}

.is-collapsed .side-menu-item-title {
  display: none;
}

.is-collapsed .main-container {
  width: calc(100% - 70px);
  margin-left: 70px;
}