@import url("global.css");

.assignees li,
.add-label,
.add-assignee,
.comment-author {
  width: 40px;
  height: 40px;
}

.list-item-label {
  border-radius: 5px;
}

.assignee {
  width: 25px;
  height: 25px;
}

.main-container .main-content-container {
  max-width: 1080px;
}

.edit-task,
.close-side-issue {
  width: 38px;
  height: 38px;
}

.due-date-container .change-due-date {
  background-color: var(--item-color);
  color: white;
}

.issue-status {
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}

.task-title {
  font-weight: 600;
  font-size: 1.6rem;
}

.comment-author {
  border-radius: 5px;
}

#new-comment {
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background: white;
}

#edit-issue, #save-issue {
  width: 42px;
}

#edit-task-label {
  width: 50%;
  margin-right: 5rem;
}

#edit-issue {
  display: none;
}

#issue-header:hover #edit-issue {
  display: inline-block;
}

.comment-timestamp {
  opacity: 0.6;
}

.upvote, .downvote {
  cursor: pointer;
  transform: 1s ease-in;
}

.upvote:hover, .downvote:hover {
  color: var(--secondary-color) ;
}

.voted {
  color: orange;
}

[contenteditable="true"] {
  outline: 0px solid transparent;
  border-bottom: 2px solid var(--container-text-color);
}

#add-new-label, #add-new-assignee {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1rem;
  border-radius: 5px;
  width: 288px;
  background-color: var(--background-hover);
  padding-bottom: 0.5rem;
}


.assignees-container , .labels-container{
  position: relative;
}

#add-new-assignee, #add-new-label {
  position: absolute;
  top: 30px;  
  z-index: 300;
}

#write-label, #write-assignee {
  width: 100%;
  box-sizing: border-box; 
  padding: 0.5rem;
}

#new-label, #new-assignee {
    box-sizing: border-box; 
}


#existing-labels, #existing-users {
  background-color: white;
  max-height: 176px;
  overflow-y: auto;
}

.existing-label-container, .existing-user-container {
  border-top: 1px solid var(--border-color);
  font-size: 0.9em;
  font-weight: 600;
  transition: 0.3s;
}

.existing-label-container:hover , .existing-user-container:hover  {
  background-color: var(--background-hover);
}


.existing-label-container:last-of-type {
  border-bottom: 1px solid var(--border-color);
}


@media only screen and (max-width: 600px) {
  .issue-status-description {
    display: none;
  }

  .members-and-duedate {
    flex-direction: column;
    align-items: flex-start;
  }

  #issue .due-date-container {
    margin-left: 0;
    margin-top: 2rem;
  }
}
