@import url('global.css');

#cancel {
  right: 0;
}

.edit-button, .edit-photo {
  position: absolute;
  right: 0;
  background-color: transparent !important;
}

#bar-chart-activity {
  min-height: 110px;
}

.list-item-label {
  font-size: 0.9em;
  border-radius: 5px;
}

.project-item {
  border-radius: 5px;
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  background: var(--background-color);
}

.project-member {
  margin-left: 0.5rem;
}

.project-member img {
  border-radius: 3px;
  width: 30px;
  height: 30px;
}

label {
  cursor: pointer;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .profile-edit-buttons button {
    margin-bottom: 1rem;
  }
}
